/* CSS HSL Color Palette 
--honeydew: hsla(124, 39%, 93%, 1);
--dark-moss-green: hsla(99, 37%, 28%, 1);
--oxford-blue: hsla(209, 100%, 8%, 1);
--blood-red: hsla(3, 100%, 21%, 1);
--saffron: hsla(48, 96%, 45%, 1);\
*/


body {
    min-height: 100vh;
}


#home {
    float: left;
    align-items: center;
    margin-left: 10rem;
}

main{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#main-container{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: hsla(3, 100%, 21%, 1);
    color: hsla(124, 39%, 93%, 1);
    
}

#pageInfo {
    width: 70%;
    
}


